.wrapper {
    padding: 0;
    width: 1280px;
    margin: 0 auto;
    padding-top: 44px;
    padding-bottom: 88px;
}

// resposive fot tablets

@media only screen and (max-width: 768px) {

    .wrapper {
        width: 768px;
        padding: 40px;
        margin: 0 auto;
        padding-bottom: 72px;
        box-sizing: border-box;
    }
}